body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
    text-align: center;
}

.formulario {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    display: flex;
    width: 60%;
    height: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.dosColumas{
    flex-wrap: wrap;
    justify-content: space-between;
}

.unaColuma{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.formulario > div {
    flex-basis: 48%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, .25);
}

@media (max-width: 768px) {
    .formulario > div {
        flex-basis: 100%;
    }
    .formulario, .enviarBoton{
        width: 95%;
        height: auto;
    }
}

.enviarBoton{
    width: 60%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 5px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,1);
}

.errores{
    color: darkred;
    width: 60%;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.centrado{
    text-align: center;
}

.boton{
    padding: 15px;
    background-color: #0078D7;
    color: #fff;
    cursor: pointer;
}

.botonDesactivado{
    padding: 15px;
    background-color: #d2d2d2;
    color: #000;
    cursor: none;
}

.casillaBoton{
    padding: 5px;
}